<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

<gazebo>
    <plugin name="gazebo_ros_diff_drive" filename="libgazebo_ros_diff_drive.so">
        <robotNamespace>/drone_controller</robotNamespace>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>base_link</robotBaseFrame>
        
    </plugin>

    <plugin name="gazebo_ros_velocity" filename="libgazebo_ros_velocity.so">
        <robotNamespace>/drone_controller</robotNamespace>
        <bodyName>base_link</bodyName>
        <topicName>cmd_vel</topicName>
    </plugin>

    <plugin name="gazebo_ros_force" filename="libgazebo_ros_force.so">
        <bodyName>base_link</bodyName>
        <topicName>force_cmd</topicName>
    </plugin>
</gazebo>

</robot>